<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pcArmada.name + " PC" %></title>
</head>
<body>
    <section id="detectClick">
        <h1><%= pc.name %></h1>
        <p><%= pc.cost %></p>
        <p><%= pc.description %></p>    
        <div class="caracteristicas">
            <div class="almacenamiento">
                <p><%= pcArmada.caracteristicas.almacenamiento.discoDuro %></p>
            </div>
        </div>
    </section>
</body>
</html>